*{
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: font-family: "Niconne", cursive, serif;    
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333333;
    color: white;
    padding: 20px;
    text-align: center;
}

.tagline {
    font-style: italic;
    font-size: 1rem;
    color: orange;
}

section {
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 600px;
    border: 1px solid orange;
    border-radius: 0.5rem;    
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    border-bottom: 1px solid orange;
    padding: 1rem;
}

p{
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: slateblue;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    color: orange;
}

@media (max-width:600px) {
    body {
        font-size: 1rem;
        line-height: 1.2;
        padding: 1rem;
        
    }

    section {
        padding: 1rem;
        margin: 1rem auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        margin-top: 0;
        padding: 0;
    }
}